<body id="page-top">

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Automated Trader</h1>
      <p class="lead">Welcome to the trading platfrom</p>
    </div>
  </header>


  <!DOCTYPE html>
  <html lang="en">

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div class="col-md-4">
      <h4>Filter Trades</h4>
      <select (change)='handleChange()' [(ngModel)]='whichCategory' class='form-control'>
        <option *ngFor='let item of trades'>{{item.cat}}</option>

      </select>
    </div>
      <br />
   
      <button (click)="handleClick()" style="margin-left:14px" class="btn btn-primary">View All Trades</button>
      <button (click)="handleTodayClick()" style="margin-left:13px" class="btn btn-primary">Today's Trades</button>
      <button style="margin-left:13px" class="btn btn-primary">Create a Strategy</button>

  



    <div [hidden]="showFilterToday==false" class="card my-5">
      <div class="card-body">
        <h2>Today's Trades</h2>
        <table class="table table-bordered table-striped">
          <thead style="color:blue">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col">Size</th>
              <th scope="col">Last Change</th>
            </tr>
          </thead>
          <tbody *ngFor="let trade of allTrades">

            <tr *ngIf="trade.lastStateChange >= fullDate">

              <td>{{ trade.id }}</td>
              <td>{{ trade.stockTicker }}</td>
              <td>{{ trade.tradeType }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.size }}</td>
              <td>{{ trade.lastStateChange | date: "medium" }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>



    <div [hidden]="showLatest" class="card my-5">
      <div class="card-body">
        <h2>All Trades</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col">Size</th>
              <th scope="col">Last Change</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trade of allTrades">
              <td>{{ trade.id }}</td>
              <td>{{ trade.stockTicker }}</td>
              <td>{{ trade.tradeType }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.size }}</td>
              <td>{{ trade.lastStateChange | date: 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>






    <div [hidden]="showFilter==false" class="card my-5">
      <div class="card-body">
        <h2>Filtered Results</h2>
        <table class="table table-bordered table-striped">
          <thead style="color:cadetblue">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Stock Ticker</th>
              <th scope="col">Type</th>
              <th scope="col">Price</th>
              <th scope="col">Size</th>
              <th scope="col">Last Change</th>
            </tr>
          </thead>
          <tbody class="tbody-dark" *ngFor="let trade of allTrades">

            <tr *ngIf=' trade.stockTicker == whichCategory'>
              <td>{{ trade.id }}</td>
              <td>{{ trade.stockTicker }}</td>
              <td>{{ trade.tradeType }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.size }}</td>
              <td>{{ trade.lastStateChange | date: 'medium' }}</td>
            </tr>

          </tbody>



        </table>
        
      </div>
    </div>